# Intro to Recommender Systems Lab

Complete the exercises below to solidify your knowledge and understanding of recommender systems.

For this lab, we are going to be putting together a user similarity based recommender system in a step-by-step fashion. Our data set contains customer grocery purchases, and we will use similar purchase behavior to inform our recommender system. Our recommender system will generate 5 recommendations for each customer based on the purchases they have made.

In [1]:
import pandas as pd
from scipy.spatial.distance import pdist, squareform
import numpy as np
from scipy.spatial.distance import euclidean, pdist, squareform

In [2]:
data = pd.read_csv('customer_product_sales.csv')

In [3]:
data.head()

,CustomerID,FirstName,LastName,SalesID,ProductID,ProductName,Quantity
0,61288,Rosa,Andersen,134196,229,Bread - Hot Dog Buns,16
1,77352,Myron,Murray,6167892,229,Bread - Hot Dog Buns,20
2,40094,Susan,Stevenson,5970885,229,Bread - Hot Dog Buns,11
3,23548,Tricia,Vincent,6426954,229,Bread - Hot Dog Buns,6
4,78981,Scott,Burch,819094,229,Bread - Hot Dog Buns,20

## Step 1: Create a data frame that contains the total quantity of each product purchased by each customer.

You will need to group by CustomerID and ProductName and then sum the Quantity field.

In [4]:
total=data.groupby(["CustomerID", "ProductName"]).sum().reset_index()

## Step 2: Use the `pivot_table` method to create a product by customer matrix.

The rows of the matrix should represent the products, the columns should represent the customers, and the values should be the quantities of each product purchased by each customer. You will also need to replace nulls with zeros, which you can do using the `fillna` method.

In [5]:
pivottable=total.pivot_table(values='Quantity', columns='CustomerID', index='ProductName', aggfunc='sum').fillna(0)

## Step 3: Create a customer similarity matrix using `squareform` and `pdist`. For the distance metric, choose "euclidean."

In [6]:
distancias=squareform(pdist(pivottable.T, 'euclidean'))   # distancias entre usuarios

In [7]:
similitud=1/(1+distancias)

similitud=pd.DataFrame(similitud, index=pivottable.columns, columns=pivottable.columns)
 # pertenece al intervalo [0, 1]

## Step 4: Check your results by generating a list of the top 5 most similar customers for a specific CustomerID.

In [29]:
top5 = list(similitud[33].sort_values(ascending=False)[1:6].index)

In [30]:
top5

[3317, 3535, 264, 2503, 3305]

## Step 5: From the data frame you created in Step 1, select the records for the list of similar CustomerIDs you obtained in Step 4.

In [31]:
sim_cust= total[total['CustomerID'].isin(top5)]

In [32]:
sim_cust

      CustomerID                     ProductName  SalesID  ProductID  Quantity
131          264               Apricots - Halves  3730301        278         1
132          264                  Apricots Fresh  5035449        158         1
133          264      Bacardi Breezer - Tropical   756802         49         1
134          264                   Bagel - Plain  6728381        262         1
135          264                 Banana - Leaves  6298459        271         1
...          ...                             ...      ...        ...       ...
3003        3535             Tray - 16in Rnd Blk  6122047        166         1
3004        3535                     Wanton Wrap  2643670        253         1
3005        3535   Wine - Blue Nun Qualitatswein  3314104        269         1
3006        3535  Wine - Magnotta, Merlot Sr Vqa  6563480        192         1
3007        3535                   Yoghurt Tubes  2723180        179         1

[270 rows x 5 columns]

In [12]:
##Step 6: Aggregate those customer purchase records by ProductName, sum the Quantity field, and then rank them in descending order by quantity.¶
#This will give you the total number of each product purchased by the 5 most similar customers to the customer you selected in order from most purchased to least.

In [33]:
agregado = sim_cust.groupby(['ProductName']).agg({'Quantity':'sum'})

In [34]:
agregado = agregado.sort_values('Quantity', ascending=False).reset_index()

In [35]:
agregado

                       ProductName  Quantity
0                Butter - Unsalted         3
1    Wine - Ej Gallo Sierra Valley         3
2           Towels - Paper / Kraft         3
3     Soup - Campbells Bean Medley         3
4    Wine - Blue Nun Qualitatswein         3
..                             ...       ...
213               Hinge W Undercut         1
214  Ice Cream Bar - Hageen Daz To         1
215                   Jagermeister         1
216      Jolt Cola - Electric Blue         1
217        Yogurt - French Vanilla         1

[218 rows x 2 columns]

## Step 7: Filter the list for products that the chosen customer has not yet purchased and then recommend the top 5 products with the highest quantities that are left.

- Merge the ranked products data frame with the customer product matrix on the ProductName field.
- Filter for records where the chosen customer has not purchased the product.
- Show the top 5 results

In [47]:
filtered = pd.merge(agregado,pivottable, on="ProductName")

In [48]:
filtered

,ProductName,Quantity,33,200,264,356,412,464,477,639,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
0,Butter - Unsalted,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0,0.0
1,Wine - Ej Gallo Sierra Valley,3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,25.0,50.0,0.0,25.0,0.0,0.0,0.0,0.0
2,Towels - Paper / Kraft,3,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Soup - Campbells Bean Medley,3,0.0,0.0,1.0,0.0,0.0,0.0,2.0,0.0,...,0.0,0.0,0.0,25.0,50.0,25.0,0.0,0.0,0.0,0.0
4,Wine - Blue Nun Qualitatswein,3,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
213,Hinge W Undercut,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,25.0,0.0,0.0,25.0,25.0,0.0,0.0,0.0,0.0,0.0
214,Ice Cream Bar - Hageen Daz To,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,25.0,0.0,0.0,0.0
215,Jagermeister,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0,0.0
216,Jolt Cola - Electric Blue,1,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
217,Yogurt - French Vanilla,1,1.0,0.0,0.0,1.0,0.0,0.0,2.0,0.0,...,0.0,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0

## Step 8: Now that we have generated product recommendations for a single user, put the pieces together and iterate over a list of all CustomerIDs.

- Create an empty dictionary that will hold the recommendations for all customers.
- Create a list of unique CustomerIDs to iterate over.
- Iterate over the customer list performing steps 4 through 7 for each and appending the results of each iteration to the dictionary you created.

In [38]:
recommendations = {}
customer_unique = list(data['CustomerID'].unique())

##  Step 9: Store the results in a Pandas data frame. The data frame should a column for Customer ID and then a column for each of the 5 product recommendations for each customer.

## Step 10: Change the distance metric used in Step 3 to something other than euclidean (correlation, cityblock, consine, jaccard, etc.). Regenerate the recommendations for all customers and note the differences.